.form {
    margin: 4rem auto;
    padding: 2rem;
    font-size: 1.25rem;
    width: 100%;

    @media screen and (min-width: 992px){
        margin: 8rem auto;
    }

    background-color: rgba(255,255,255,0.6);

    @media screen and (min-width: 992px){
        max-width: 50%;
    }

    @media screen and (min-width: 1600px){
        max-width: 30%;
    }

    &__hr {

    }

    &__headline{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    &__label {
        padding: 1rem 0;
        display: block;
        margin-bottom: 2rem;
    }

    &__input {
        margin-top: 0.5rem;
        padding: 0.5rem;    
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    &__textarea{
        margin-top: 0.5rem;
        padding: 0.5rem;    
        display: block;
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
    }

    &__submit{
        padding: 1rem 3rem;
        margin: 0 auto;
        display: block;
        background: none;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.5rem;
        background-color: #fff;
        transition: 350ms;
        cursor: pointer;

        &:hover{
            color: #fff;
            background-color: #000;
        }
    }

}