@import './components/import.scss';
@import './settings/import.scss';

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    background-image: url('/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

