.bnet-update--success {
    color: green;
}
.bnet-update--fail {
    color: red;
}

.page-link:hover {
    color: #fff;
}

.container-xl {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.container-fix {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

/*
Fix css classes for all bg images (classes, externals)
*/
