.bnet-update--success {
    color: green;
}
.bnet-update--fail {
    color: red;
}

.page-link:hover {
    color: #fff;
}

.container-xl {
}

.container-fix {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

body {
    background: url(https://i.imgur.com/AndS3U1.png) center / cover;
}

html {
    height: unset;
}

/*
Fix css classes for all bg images (classes, externals)
*/
