
.class {
    &-0 {
        color: $druid;
    }

    &-1 {
        color: $paladin;
    }

    &-2 {
        color: $warrior;
    }

    &-3 {
        color: $dh;
    }

    &-4 {
        color: $hunter;
    }

    &-5 {
        color: $mage;
    }

    &-6 {
        color: $rogue;
    }

    &-7 {
        color: $dk;
    }

    &-8 {
        color: $priest;
    }

    &-9 {
        color: $warlock;
    }

    &-10 {
        color: $shaman;
    }
    
    &-11 {
        color: $monk;
    }
}