
// Colors
$pink: deeppink;
$black-default: #0e0e10;
$black-lighter: #18181b;
$white-default: #fff;
$gray-darker: #202020;
$gray-dark: #1f1f23;
$gray-lighter: #404043;
$gray-default: #aaaaaa;
$green-default: #197278;
// Class Colors
$monk:	#00FF96;
$paladin:#F58CBA;
$dk: #C41F3B;
$druid: #FF7D0A;
$dh: #A330C9;
$priest: #FFFFFF	;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #8787ED;
$warrior: #C79C6E;
$hunter: #A9D271;
$mage: #40C7EB;




$edge-inset: 1rem;



// Breakpoints

$bp-xl: 1200px;

$bp-sm: 980px;

